
header {
	background:transparent url(img/contact.png) no-repeat;
	padding:20px 0px 30px 200px;
	font-family: 'Nova Square', cursive;
	text-decoration:none;
}

header a {
	display:block;
	color:#000;
	text-decoration:none;
	-webkit-transition:-webkit-transform .2s, color .5s;
	padding-bottom:20px;
}

header a:hover {
	-webkit-transform:skew(3deg,8deg);
	color:#AD0000;
	text-decoration:none;
}


#controls  {
	width:500px;
}

input.phone{
	width:30px;
}

a {
	text-decoration:none;
}

thead {
	background-color:#1A0061;
	border-radius:25px;
}
th {
 	border-radius:25px;
	padding:0px 150px 0px 150px;
	color:#FAF75C;
 }

 .form-actions {
 padding-left:0px;
 background-color:#fff;
 margin-left:370px;;
 margin-right:370px;
 }
 
 th:hover {
 color:#AD0303;
-webkit-transition:color:5s;}

td:hover {
	background-color:#F1FCB1;
}