
header {
	background:transparent url(img/contact.png) no-repeat;
	padding:20px 0px 30px 200px;
	font-family: 'Nova Square', cursive;
	text-decoration:none;
}

header a {
	display:block;
	color:#000;
	text-decoration:none;
	-webkit-transition:-webkit-transform 10s, color 1s;
	padding-bottom:20px;
}

header a:hover {
	-webkit-transform:skew(5deg,10deg);
	color:#AD0000;
	text-decoration:none;
}


#controls  {
	width:500px;
}

input.phone{
	width:30px;
}

a {
	text-decoration:none;
}

thead {
	background-color:#1A0061;
	border-radius:25px;
}
th {
 	color:#F1FFCC;
 	border-radius:25px;
	padding:0px 150px 0px 150px;
 }

 .form-actions {
 padding-left:0px;
 background-color:#fff;
 margin-left:370px;;
 margin-right:370px;
 }