h3 {
color:#A30707;
padding:10px 0px 10px 10px;
background-color:#ADF7E5;
margin-right:280px;
border:.5px dashed #367FF5;
border-radius:15px;
	}
	
h3 a {
color:#0F06BA;
}

h2 {
	background-color:#EBEB1A;
	border-radius:12px;
	padding:10px 0px 10px 10px;
	margin-right:700px;
}
header {
	background:transparent url(img/contact.png) no-repeat;
	padding:20px 0px 30px 200px;
	font-family: 'Nova Square', cursive;
	text-decoration:none;
}

header a {
	display:block;
	color:#000;
	text-decoration:none;
	-webkit-transition:-webkit-transform .2s, color .5s;
	padding-bottom:20px;
}

header a:hover {
	-webkit-transform:skew(20deg,-6deg);
	color:#AD0000;
	text-decoration:none;
}

ul{
	list-style:none;
}

#list_groups tr td a  {
	color:#09E609;
	font-size:15pt;
}

tr td a:hover{
	text-decoration:none;
	color:#089E08;
	font-weight:bold;
	font-size:15pt;
}

#controls  {
	width:500px;
}

input.phone{
	width:30px;
}

a {
	text-decoration:none;
}

thead {
	background-color:#1A0061;
	border-radius:25px;

}
th {
 	border-radius:25px;
	padding:0px 150px 0px 150px;
	color:#FAF75C;
	\**padding-bottom:10px;
 }

 .form-actions {
 padding-left:0px;
 background-color:#fff;
 margin-left:0px;;
 }
 
th:hover {
 color:#AD0303;
-webkit-transition:color:5s;}

td:hover {
	background-color:#F1FCB1;
}